.container1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 800px;
    border: 2px solid blue;
    margin: 5px;
    }
    
.container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 800px;
    border: 2px solid blue;
    margin: 5px;
    background: orangered;
}

.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10 {
    height: 50px;
    width: 50px;
    background: blue;
    margin-left: 15px;
    margin-right: 15px;
}

.box11, .box12, .box13, .box14, .box15, .box16, .box17, .box18, .box19, .box20 {
    height: 50px;
    width: 50px;
    background: purple;
}